/*table {
	width: 400px;
	margin: 50px;
}*/

td{
	text-align: center;
	border-radius: 8px;

}

tr{
	border-radius: 8px;

}

table, th, td {
	/*border: 1px solid #000;*/
	border-collapse: separate;
	padding: 10px;
}

th{
	background-color: #b5b5b5; 
	border-radius: 8px;
}


.grey-background{
	background-color: #ddd;
}


tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }